# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
env/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
.env

# React
node_modules/
/build
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
.DS_Store
